P{ 
    color:red;
    text-align: justify;
    font: size 20 px;
    }
    h1{
    color:white;
    text-align: center;
    font-size: medium;
    font-style: italic;
    }
    body{
    background-color: black;
    }